/*Specific Font-Family: Inter used for this Assignment 02 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* another font for banner title span tag */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

/* body tag margin and padding */
body {
    margin: 0px;
    padding: 0px;  
    font-family: Inter;
}

/* header section */
.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(0, 0, 0, 0.726) 100%);
    width: 100%;  
}

/* navbar ham-burger icon */
.ham-burger {
    display: none;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .navbar .nav-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 57px 150px 57px 190px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 20px 8px 20px;
    width: 410px;
}
.header .navbar .nav-item li {
    list-style: none;
}

.header .navbar .nav-item a {
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    padding: 4px;
    /* margin: 0px 47px; */
    margin: 0px 35px 0px 0px;
    
}

.header .navbar .nav-item a:hover {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    width: 100px;
}
.bg {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    width: 100px;
}

.header .navbar .nav-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    padding: 0px;
    margin: 57px 190px 28px 100px;
    color: rgb(230, 83, 60);
}


/* banner section */
.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    margin: 28px 190px 28px 100px; 
    padding: 0px;
    width: 520px;
    height: 282px;;

}

.banner-title span {
    font-family: Playwrite CU;
    font-weight: 400;
    font-size: 78px;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 57px 190px 57px 100px;
    padding: 0px;
    width: 520px;
}

.join-btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    margin-left: 100px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    cursor: pointer;

}

.join-btn:hover {
    background-color: forestgreen;
    box-shadow: 2px 2px 7px 1px rgb(230, 83, 60);

}

.app-btn {
    color: rgb(255, 255, 255);
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    margin-left: 14px;
    border-radius: 42px;
    cursor: pointer;
}
/* .nav-link:active {
    background-color: red;
} */

.app-btn:hover {
    border: 1px solid forestgreen;
    box-shadow: 2px 2px 7px 1px rgb(230, 83, 60);
}

/* main section design */
.main {
    background-color: black;
    
}

.main .habit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap-top: 60px; */
    
    
}

.habit-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0px;
}
.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
    width: 641px;
}

.item-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 6px;
}
.item-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 231px;
    margin-top: 0px;
}

.main .habit-items {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.main .habit-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.habit-item img {
    border-radius: 50%;
}

/* run and extra mile easily */
.run-content img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

.run-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 41px;
}

.run-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    width: 443px;
    text-align: left;
    /* margin: 14px 0px; */
}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 443px;
}

.run-btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 16px 40px 16px 40px;
    margin: 0px 10px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    width: 190px;
    text-align: center;
    cursor: pointer;
}
.run-btn:hover {
    background-color: forestgreen;
}

.run {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 100px 230px 65px 230px;
    box-shadow: 2px 2px 23px 1px rgb(114, 114, 114);
}
/* BMI calculator design */
.table, th, td {
    color: white;
    width: 310px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.bmi-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 0px;
}
.bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 640px;
    margin-top: 0px;
    margin-bottom: 40px;
    
}
.bmi-describe {
    display: flex;
    flex-direction: column;
    margin: 10px 200px 10px 400px;
}
.chart-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
}

.bmi-chart {
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    /* gap: 150px; */
}

.input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px 12px 20px;
    width: 282.5px;
    margin: 8px 8px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border: none;
}
select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px 12px 20px;
    width: 320.5px;
    margin: 8px 8px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border: none; 
}

option {
    background-color: black;
}

.input button {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    width: 200px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 10px 10px 30px 10px;
    border: none;
    cursor: pointer;
}
.input button:hover {
    background-color: forestgreen;
}

/* our team section */
.members {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    background: rgb(26, 26, 26);
    margin: 78px 220px 83px 220px;
}
.member img {
    border-radius: 18px;
    width: 326px;
    height: 272px;
    margin: 20px 0px;
}
.member {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0px 14px 0px;
}
.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

/* Footer Section Design */
.footer {
    background-color: rgb(26, 26, 26);
}
.footer-content {
    display: flex;
    justify-content: center;
    
}
.footer-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    padding: 0px;
    margin: 57px 190px 10px 0px;
    color: rgb(230, 83, 60);
}
.footer-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 190px 57px 0px;
    padding: 0px;
    width: 300px;
    text-align: justify;
}

.Get-Started h4 {
    color: white;
    font-family: Inter;
    Font-Size: 24px;
}
.Get-Started li {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    Font-Size: 20px;
    list-style: none;
    line-height: 30px;
    cursor: pointer;
}

.Get-Start h4 {
    color: white;
    font-family: Inter;
    Font-Size: 24px;
}
.Get-Start li {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    Font-Size: 20px;
    list-style: none;
    line-height: 30px;
    cursor: pointer;
}
.footer hr {
    max-width: 60%;
    align-items: center;  
}
.fitness {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    height: 20px;
    
}

.workout-vid {
    position: absolute;
    top: 290px;
    right: 10px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    width: 144px;
    height: 70px;

}
.workout-vid h3 {
    color: white;
    font-family: Inter;
    font-weight: 800;
    font-size: 28px;
    margin: 13px 0px 0px 13px ;
}
.workout-vid p {
    color: white;
    font-family: Inter;
    padding: 2px;
    align-items: center;
    margin: 0px 0px 0px 14px ;
    font-size: 12px;
}
.tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 600px;
    right: 290px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    width: 150px;
    height: 70px;
}
.tutorial button {
    background-color: red;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

.tutorial h3 {
    color: white;
    font-family: Inter;
    font-weight: 800;
    font-size: 28px;
    margin: 13px 0px 0px 10px ;
}

.tutorial p {
    color: white;
    font-family: Inter;
    padding: 2px;
    align-items: center;
    margin: 0px 0px 0px 10px ;
    font-size: 12px;
}
.member-title-one {
    color: whitesmoke;
    font-weight: 800;
    position: absolute;
    top: 2800px;
    right: 1200px;
    font-family: Inter;
}
.member-title-two {
    color: whitesmoke;
    font-weight: 800;
    position: absolute;
    top: 2800px;
    right: 835px;
    font-family: Inter;
}
.member-title-three {
    color: whitesmoke;
    font-weight: 800;
    position: absolute;
    top: 2800px;
    right: 480px;
    font-family: Inter;
}
.member-title-four {
    color: whitesmoke;
    font-weight: 800;
    position: absolute;
    top: 3110px;
    right: 1200px;
    font-family: Inter;
}
.member-title-five {
    color: whitesmoke;
    font-weight: 800;
    position: absolute;
    top: 3110px;
    right: 835px;
    font-family: Inter;
}
.member-title-six {
    color: whitesmoke;
    font-family: Inter;
    font-weight: 800;
    position: absolute;
    top: 3110px;
    right: 480px;
}

.tdee {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tdee-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 21px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 0px 0px 100px 0px;
    box-shadow: 2px 2px 23px 1px rgb(108, 107, 107); 
}

.img-one {
    width: 469px;
    height: 490px;
}
.tdee-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}
.tdee-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 671px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}



.course-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px 200px 100px 200px;
    gap: 100px;
}
.course-one img {
    width: 550px;
    height: 450px;
    border-radius: 10px;
    border: 5px solid rgb(255, 89, 89);
}
.course-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 200px 110px 200px;
    gap: 100px;
}
.course-two img {
    width: 550px;
    height: 450px;
    border-radius: 10px;
    border: 5px solid rgb(255, 89, 89);
}
.course-title {
    color: whitesmoke;
    font-size: 45px;
    width: 492px;
    font-weight: 700;
    margin-bottom: 22px;
}
.course-description {
    color: rgb(112, 112, 112);
    font-size: 18px;
    font-weight: 400;
    width: 482px;
    text-align: justify;
}
.course-btn {
    border-radius: 5px;
    background: rgb(255, 89, 89);
    width: 230px;
    height: 56px;
    padding: 16px 12px 16px 12px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}
.course-btn:hover {
    background-color: forestgreen;
}
 /* * {
    border: 1px solid red;
}
.course {
    border: 1px solid green;
}    */

/* responsive design for small devices */
@media screen and (max-width: 576px) {
    .nav-item {
        display: none;
    }
    .ham-burger {
        display: block;
        margin: 57px 0px 28px 57px;
        position: absolute;
        top: 14px;
        right: 30px;
    }
    .header .navbar .nav-title {
        margin: 57px 190px 28px 20px;
        font-size: 36px;
    }
    .banner-title {
        font-size: 36px;
        margin: 20px 100px 65px 20px;
        width: 265px;
        height: 100px;
    }
    .banner-title span {
        font-size: 36px;
        
    }
    .banner-description {
        margin: 0px 100px 28px 20px;
        width: 290px;
        text-align: justify;
        font-size: 14px;
    }

    .join-btn {
        width: 160px;
        height: 54px;
        font-size: 9px;
        margin: 10px 5px 28px 20px;

    }
    .banner-describe {
        width: 360px;
        margin: 10px 50px 10px 10px;
    }
    .app-btn {
        width: 160px;
        font-size: 9px;
        height: 54px;
        margin-left: 0px;
    }
    
    .banner-content {
        flex-direction: column;
    }
    .banner-content img {
        width: 300px;
        height: 500px;
    }
    .main .habit {
        flex-direction: column;
    }
    .main .habit-item {
        flex-direction: column;
    }
    .main .habit-items {
        flex-direction: column;
    }
    .habit-title {
        font-size: 32px;
        color: red;
    }
    .habit-description {
        width: 316px;
        font-size: 14px;
    }
    .run-content {
        flex-direction: column;
    }
    .run-title {
        font-size: 32px;
        width: 270px;
    }
    .run-description {
        font-size: 14px;
        width: 300px;
        text-align: justify;
        
    }
    .run-content img {
        width: 280px;
        
    }
    .run {
        margin: 20px;
        
    }
    .input {
        grid-template-columns: repeat(1,1fr);
    }
    .bmi-chart {
        flex-direction: column;
    }
    .bmi-description {
        width: 280px;
        margin-right: 0px;
        padding: 0px;
        text-align: justify;
    }
    .bmi-describe {
        flex-direction: column;
        margin: 50px 30px 30px 20px;
        
        
    }
    .bmi-title {
        font-size: 24px;
        margin-bottom: 5px;
        
    }
    
    .member{
        flex-direction: column;
    }
    .members {
        grid-template-columns: repeat(1,1fr);
        margin: 30px 10px;
    }
    .member img {
        border-radius: 18px;
        width: 330px;
        height: 280px;
    }
    .team-title {
        font-size: 30px;
        color: red;

    }
    .team-description {
        font-size: 14px;
    }
    .footer-content {
        flex-direction: column;
        margin: 20px;

    }
    .footer hr {
        max-width: 80%;
        align-items: center;  
    }
    .fitness {
        font-family: Inter;
        font-size: 12px;
    }
    .workout-vid {
        position: absolute;
        top: 630px;
        right: 33px;
    
    }
    .tutorial {
        position: absolute;
        top: 743px;
        right: 210px;
    }
    .member-title-one {
        position: absolute;
        top: 4705px;
        right: 280px;
    }
    .member-title-two {
        position: absolute;
        top: 5055px;
        right: 277px;
    }
    .member-title-three {
        position: absolute;
        top: 5407px;
        right: 277px;
    }
    .member-title-four {
        position: absolute;
        top: 5760px;
        right: 277px;
    }
    .member-title-five {
        position: absolute;
        top: 6112px;
        right: 277px;
    }
    .member-title-six {
        position: absolute;
        top: 6470px;
        right: 289px;
    }
    .tdee-calculator {
        flex-direction: column;
    }
    .img-one {
        width: 269px;
        height: 290px;
    }
    .tdee-calculator {
        padding: 10px;
    }
    .tdee-title {
        font-size: 30px;
    }
    .tdee-description {
        font-size: 14px;
        width: 300px;
    }
    .course-one {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 300px; */
        margin: 0px 0px 20px 0px;
    }
    .course-two {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 60px 0px;
    }
    .course-one img {
        width: 300px;
        height: 200px;
    }
    .course-two img {
        width: 300px;
        height: 200px;
    }
    .course-title {
        font-size: 30px;
        /* margin: 70px 0px 20px 0px; */
        width: 260px;
    }
    .course-description {
        font-size: 13px;
        /* margin: 0px 30px 20px 30px; */
        width: 260px;
    }
    
}




